.See-all-button {
    background-color: blue;
    border: 5px royalblue;
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
}

p {
    font-size: 1.5em;
}

.Welcome-header {
    font-size: 3em;
}

.site-intro-paragraph {
    margin: 20px;

    justify-content: center;
}

.picture-size {
    width: 600px;
    border-radius: 10px;
}

.site-intro {
    display: flex;
    align-items: center;
    margin: 100px;

}

.home-view {
    display: inline-block;
    justify-content: center;
}

.footer-style {
    background-color: black;
    color: white;
    padding: 50px;
}